---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Raleway', sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.4;

$spacing-unit:     30px;

// $text-color:       #FACD28;
$text-color:       #F4F4F4;
$background-color: #121212;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base"
;

.movie-pics-container {
  .top-buffer {
    // margin-top: 40px;
  }
  a.video-caption {
    display: block;
    cursor: pointer;
    img.youtube-thumb {
      cursor: pointer;
    }
  }
  img.youtube-thumb {
    width: 100%;
  }
  img.video-image {
    opacity: 0.2;
    float: left;
  }
  .video-date {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.text-justify {
  text-align: justify;
}

@media (max-width: 767px) {
  .movie-pics-container {
    .movie-pic.movie-pic-first {
      margin-top: 25px;
    }
    .movie-pic {
      margin-top: 40px;
    }
  }
}

.movie-pics-container {
  .movie-pic {
    margin-bottom: 30px;
  }
}

#lean_overlay {
  position: fixed;
  z-index:100;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
  background: #000;
  display: none;
}

.video-popup {
  background-color: black;
  display: none;
  padding: 15px 25px 8px 25px;
  border: 1px solid #242424;
}

.video-popup a {
  text-decoration: none;
}

.video-popup a:link, .video-popup a:visited {
  color: $text-color;
}

.video-popup a:hover, .video-popup a:active {
  color: #aaaaaa;
}

.mobile-video, .site-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.site-title-container {
  margin-top: 0;
  margin-bottom: 0;
}

.site-description {
  margin-top: 10px;
}

.social-networks-big {
  &.bottom-follow {
    .follow-block {
      position: relative;
      top: 0px;
      .fb-like {
        margin-bottom: 8px;
      }
    }
  }
  .follow-block {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 50px;
    width: 160px;

    .twitter-follow-button {
      float: right;
      position: relative;
      top: 2px;
    }

    .fb-like {
      float: left;
    }
  }
}

/* Close Button */

[class*='close-'] {
  font: 16px/100% arial, sans-serif;
  position: absolute;
  right: 8px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 8px;
}

.close-classic:after {
  content: 'X'; /* ANSI X letter */
}

.close-thin:after {
  content: '×'; /* UTF-8 symbol */
}

.close-thik:after {
  content: '✖'; /* UTF-8 symbol */
}