---
layout: default
---
<div class="container-fluid movie-pics-container">
  <div class="row-fluid">
    <div class="col-md-offset-2 col-md-2 col-sm-offset-1 col-sm-4 col-xs-12 movie-pic movie-pic-first">
      <a class="video-caption video-link hidden-xs" href="#video1" data-youtube-id="bVdN954oCX8">
        <img class="youtube-thumb" src="{{ site.url }}/assets/video1.jpg" />
      </a>
      <div id="video1" class="video-popup">
        <a href="#" class="close-classic"></a>
      </div>
      <iframe class="visible-xs mobile-video" id="player" type="text/html" width="300" height="195" src="http://www.youtube.com/embed/bVdN954oCX8?enablejsapi=1&origin=http://meetingsavecaa.com&autohide=1&rel=0" frameborder="0"></iframe>
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-offset-2 col-sm-4 col-xs-12 movie-pic">
      <a class="video-caption video-link hidden-xs" href="#video2" data-youtube-id="6ZdNFkHz6bc">
        <img class="youtube-thumb" src="{{ site.url }}/assets/video2.jpg" />
      </a>
      <div id="video2" class="video-popup">
        <a href="#" class="close-classic"></a>
      </div>
      <iframe class="visible-xs mobile-video" id="player" type="text/html" width="300" height="195" src="http://www.youtube.com/embed/6ZdNFkHz6bc?enablejsapi=1&origin=http://meetingsavecaa.com&autohide=1&rel=0" frameborder="0"></iframe>
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-4 col-xs-12 movie-pic">
      <a class="video-caption video-link hidden-xs" href="#video3" data-youtube-id="ggpFHGlRSFk">
        <img class="youtube-thumb" src="{{ site.url }}/assets/video1.jpg" />
      </a>
      <div id="video3" class="video-popup">
        <a href="#" class="close-classic"></a>
      </div>
      <iframe class="visible-xs mobile-video" id="player" type="text/html" width="300" height="195" src="http://www.youtube.com/embed/ggpFHGlRSFk?enablejsapi=1&origin=http://meetingsavecaa.com&autohide=1&rel=0" frameborder="0"></iframe>
    </div>
    <div class="col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-4 col-xs-12 movie-pic top-buffer">
      <a class="video-caption video-link hidden-xs" href="#video4" data-youtube-id="cOExskCDeD4">
        <img class="youtube-thumb" src="{{ site.url }}/assets/video2.jpg" />
      </a>
      <div id="video4" class="video-popup">
        <a href="#" class="close-classic"></a>
      </div>
      <iframe class="visible-xs mobile-video" id="player" type="text/html" width="300" height="195" src="http://www.youtube.com/embed/cOExskCDeD4?enablejsapi=1&origin=http://meetingsavecaa.com&autohide=1&rel=0" frameborder="0"></iframe>
    </div>
    <div class="social-networks-big col-md-offset-1 col-md-2 movie-pic top-buffer visible-md visible-lg">
      <img class="youtube-thumb" src="{{ site.url }}/assets/video2.jpg" />
      {% include follow.html %}
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8 movie-pic top-buffer">
      <img class="youtube-thumb" src="{{ site.url }}/assets/novideo.jpg" />
      <div style="width: 100%; text-align: center; position: absolute; top: 30px;">2015.08.16</div>
    </div>
    <div class="col-md-offset-2 col-md-2 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 movie-pic top-buffer">
      <img class="youtube-thumb" src="{{ site.url }}/assets/novideo.jpg" />
      <div style="width: 100%; text-align: center; position: absolute; top: 30px;">2015.08.16</div>
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-offset-1 col-sm-4 col-xs-offset-2 col-xs-8 movie-pic top-buffer">
      <img class="youtube-thumb" src="{{ site.url }}/assets/novideo.jpg" />
      <div style="width: 100%; text-align: center; position: absolute; top: 30px;">2015.08.16</div>
    </div>
    <div class="col-md-offset-1 col-md-2 col-sm-offset-2 col-sm-4 col-xs-offset-2 col-xs-8 movie-pic top-buffer">
      <img class="youtube-thumb" src="{{ site.url }}/assets/novideo.jpg" />
      <div style="width: 100%; text-align: center; position: absolute; top: 30px;">2015.08.16</div>
    </div>
    <div class="bottom-follow social-networks-big col-sm-offset-2 col-sm-8 col-xs-offset-2 col-xs-8 movie-pic visible-sm visible-xs top-buffer">
      {% include follow.html %}
    </div>
  </div>
</div>
