<header class="site-header container-fluid">
  <div class="row-fluid">
    <div class="col-md-12">
      <img class="site-title" src="{{ site.url }}/assets/titre.png" alt="Meetings avec AA" />
    </div>
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 site-description">
      <p class="text-justify">
        AA parce que Andrée-Anne, c’est trop long à écrire. AA pour tout ces Artistes qui se livrent de façon non Anonyme. Meeting avec AA pour le jeu de mot, pour l’idée de parler de choses un peu tabou, pour se confier librement, sans filtre. AA pour l’Amour qu’Andrée-Anne porte à ses Artistes magnifiques qui ont partagé un pan de leur vie Atypique le temps d’une rencontre Amicale.
      </p>
    </div>
  </div>
</header>