<header class="site-header container-fluid">
  <h1 class="header-title">{{ site.title }}</h2>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse porta nisl at erat venenatis, nec lobortis velit lacinia. Suspendisse enim felis, posuere eu urna a, hendrerit porta velit. Donec placerat lorem eleifend turpis tristique placerat. Etiam bibendum nisi magna, quis accumsan ante dictum ac. Maecenas tincidunt consequat felis eget iaculis. Donec nec urna vitae felis cursus finibus vitae a nunc. Proin non iaculis ante, vitae egestas nisi. Sed aliquet commodo faucibus. Curabitur quis suscipit ligula. Etiam ac nibh cursus, varius erat placerat, aliquam est.
    </div>
  </div>
</header>