<header class="site-header container-fluid">
  <div class="row-fluid">
    <h1 class="site-title-container hidden-xs"><img class="site-title" src="{{ site.url }}/assets/titre.png" alt="Meetings avec AA" title="Meetings avec AA" /></h1>
    <h1 class="site-title-container visible-xs"><img class="site-title" src="{{ site.url }}/assets/titre_mobile.png" alt="Meetings avec AA" title="Meetings avec AA" /></h1>
    <div class="col-md-offset-2 col-md-8 col-sm-offset-1 col-sm-10 site-description">
      <p class="text-justify">
        AA parce que Andrée-Anne, c’est trop long à écrire. AA pour tous ces Artistes qui se livrent de façon non Anonyme. Meetings avec AA pour le jeu de mot, pour l’idée de parler de choses un peu tabou, pour se confier librement, sans filtre.
      </p>
    </div>
  </div>
</header>